---
import Projects from "../projects/Projects.astro";
---

<section class="theprojects">
  <Projects imagePath="/src/assets/girlsgirl.png" imagePath1="/src/assets/secondexam.png" imagePath2="/src/assets/viUendelige.png" imagePath3="/src/assets/ux-cph.png" imagePath4="/src/assets/benTan.png" altText="" />
</section>

<style>
  .theprojects {
  }
</style>
