---
import AboutImg from "./AboutImg.astro";
import OmMigSection from "./OmMigSection.astro";
import Skills from "./Skills.astro";
---

<section>
  <div class="first-section">
    <div class="imgs"><AboutImg imagePath="/src/assets/andrea1.png" imagePath2="/src/assets/andrea2.png" altText="Andrea Damgaard" /></div>
    <div class="textsection"><OmMigSection /></div>
  </div>
  <div class="second-section">
    <Skills />
  </div>
</section>

<style>
  section {
    padding: 2rem;
    .first-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }
    .second-section {
      display: grid;
      justify-content: center;
    }
  }
  @media (width < 1000px) {
    section {
      .first-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .second-section {
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>
