---

---

<article>
  <h1>Om mig</h1>
  <p>Jeg er en kreativ og passioneret sjæl på 28, der i en årrække har arbejdet i musikbranchen med projektledelse, PR, grafik og visuals.</p>
  <p>Jeg studere multimediedesign, på 3. semester, for at styrke mine evner og dygtiggøre mig teknisk. Jeg har fokuseret meget på kode og hvordan jeg kan binde den forståelse sammen med design og kreativ tænkning.</p>
</article>
