---

---

<article>
  <h1></h1>
  <div class="ommig">
    <h2>Om mig</h2>
    <p class="pt-3">Jeg hedder Andrea og er en 28 årig kvinde, født og opvokset i Birkerød, nu bosat på Nørrebro. Jeg er opvokset i en kreativ familie, hvor fantasierne altid har fået lov til at fylde.</p>
    <p class="pt-3">Jeg er en kreativ og passioneret sjæl, der i en årrække har arbejdet i musikbranchen med projektledelse, PR, grafik og visuals.</p>
    <p class="pt-3">Jeg studere nu multimediedesign, på 3. semester, for at styrke mine evner og dygtiggøre mig teknisk. Jeg har fokuseret meget på kode og hvordan jeg kan binde den forståelse sammen med design og kreativ tænkning.</p>
    <p class="pt-2">Det er drømmen at kunne finde et praktik sted hvor jeg kan binde de to ting sammen og bare få lov til at lære en masse nyt.</p>
  </div>
  <div class="erfaring">
    <h2>Erfaring</h2>
    <ul class="pt-3">
      <li>Uddannet projektleder, med fokus på kreative brancher</li>
      <li>Arbejdet som projektleder og kreativ i musikbranchen</li>
      <li>Arbejdet indgående med UX i forbindelse med optimering af hjemmesider.</li>
      <li>Prototyping - Figma & Adobe XD</li>
      <li>Tryk opgaver - vinyl & merchandise</li>
    </ul>
  </div>
</article>

<style>
  article {
    h1 {
      color: var(--color-text-first);
    }

    h2 {
      font-size: 2.8rem;
      color: var(--color-text-first);
    }
    .ommig {
      margin-bottom: 4rem;
    }
    li {
      list-style: circle;
      list-style: inside;
      padding-bottom: 0.5rem;
    }
    .erfaring {
      margin-bottom: 4rem;
    }
  }

  @media (width < 800px) {
  }
</style>
