---

---

<section class="section-one">
  <div>
    <h2 class="text-center pb-6">Kompetencer</h2>
    <div class="kompetencer">
      <div class="pb-6">
        <p class="font-bold pt-3 pb-1">Grafisk arbejde</p>
        <p>Karakterdesign til spil</p>
        <p>Logoer & andet grafik til websites</p>
        <p>Coverart til musikudgivelser</p>
        <p>Lavet vinyl & merchandise</p>
        <figure class="logoer">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path
              d="M5.66667 2.57925e-06H26.3333C27.0777 -0.000716969 27.8149 0.149123 28.5027 0.440947C29.1905 0.73277 29.8155 1.16085 30.3418 1.70068C30.8682 2.24052 31.2856 2.88151 31.5701 3.58697C31.8546 4.29244 32.0007 5.04853 32 5.81197V26.188C32.0007 26.9515 31.8546 27.7076 31.5701 28.413C31.2856 29.1185 30.8682 29.7595 30.3418 30.2993C29.8155 30.8392 29.1905 31.2672 28.5027 31.5591C27.8149 31.8509 27.0777 32.0007 26.3333 32H5.66667C4.92231 32.0007 4.18513 31.8509 3.4973 31.5591C2.80947 31.2672 2.1845 30.8392 1.65817 30.2993C1.13183 29.7595 0.714451 29.1185 0.429923 28.413C0.145395 27.7076 -0.000699045 26.9515 2.51477e-06 26.188V5.81197C-0.000699045 5.04853 0.145395 4.29244 0.429923 3.58697C0.714451 2.88151 1.13183 2.24052 1.65817 1.70068C2.1845 1.16085 2.80947 0.73277 3.4973 0.440947C4.18513 0.149123 4.92231 -0.000716969 5.66667 2.57925e-06Z"
              fill="#00be0c"></path>
            <path
              d="M15.5064 19.2H10.5464L9.53309 22.4137C9.52177 22.4723 9.4895 22.5244 9.44263 22.5598C9.39575 22.5952 9.33766 22.6114 9.27976 22.6051H6.77309C6.62642 22.6051 6.58642 22.5231 6.62642 22.359L10.9198 9.68207C10.9598 9.54531 10.9998 9.39489 11.0531 9.23078C11.1068 8.9377 11.1335 8.6401 11.1331 8.34189C11.1291 8.30765 11.1379 8.27311 11.1576 8.24522C11.1774 8.21732 11.2068 8.19812 11.2398 8.19147H14.6931C14.7998 8.19147 14.8531 8.23249 14.8664 8.30087L19.7331 22.3863C19.7731 22.5368 19.7331 22.6051 19.5998 22.6051H16.8131C16.766 22.6098 16.7187 22.5973 16.6797 22.5698C16.6407 22.5422 16.6124 22.5015 16.5998 22.4547L15.5064 19.2ZM11.3198 16.4239H14.7064C14.6264 16.1368 14.5198 15.7949 14.3998 15.4393C14.2798 15.0838 14.1598 14.6735 14.0398 14.2633C13.9198 13.853 13.7864 13.4291 13.6531 13.0051C13.5198 12.5812 13.3998 12.1846 13.2931 11.788C13.1864 11.3915 13.0931 11.0496 12.9998 10.7214H12.9731C12.8533 11.3174 12.7019 11.9063 12.5198 12.4855C12.3198 13.1419 12.1198 13.8257 11.9064 14.5094C11.7198 15.2069 11.5198 15.8496 11.3198 16.4239Z"
              fill="#FFE4C1"></path>
            <path
              d="M22.6395 10.5299C22.4207 10.5349 22.203 10.4951 21.9993 10.4129C21.7956 10.3307 21.6098 10.2078 21.4529 10.0513C21.1474 9.70873 20.9847 9.25719 20.9995 8.79319C20.9917 8.56712 21.0303 8.34188 21.113 8.13217C21.1958 7.92246 21.3206 7.73298 21.4795 7.5761C21.8 7.26542 22.2252 7.09391 22.6662 7.09747C23.1862 7.09747 23.5862 7.26157 23.8795 7.5761C24.1749 7.90769 24.3327 8.34425 24.3195 8.79319C24.3277 9.02424 24.2906 9.25462 24.2104 9.47072C24.1303 9.68681 24.0087 9.88423 23.8529 10.0513C23.6958 10.2154 23.5062 10.3431 23.2968 10.4257C23.0875 10.5082 22.8634 10.5438 22.6395 10.5299ZM21.1462 22.4V11.8701C21.1462 11.7334 21.1995 11.6787 21.3195 11.6787H23.9595C24.0795 11.6787 24.1329 11.747 24.1329 11.8701V22.4C24.1329 22.5505 24.0795 22.6188 23.9595 22.6188H21.3462C21.3182 22.6212 21.29 22.6171 21.2638 22.6067C21.2375 22.5963 21.2139 22.58 21.1947 22.559C21.1755 22.5379 21.1611 22.5127 21.1527 22.4852C21.1443 22.4577 21.1421 22.4286 21.1462 22.4Z"
              fill="#FFE4C1"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path
              d="M5.66667 2.57925e-06H26.3333C27.0777 -0.000716969 27.8149 0.149123 28.5027 0.440947C29.1905 0.73277 29.8155 1.16085 30.3418 1.70068C30.8682 2.24052 31.2856 2.88151 31.5701 3.58697C31.8546 4.29244 32.0007 5.04853 32 5.81197V26.188C32.0007 26.9515 31.8546 27.7076 31.5701 28.413C31.2856 29.1185 30.8682 29.7595 30.3418 30.2993C29.8155 30.8392 29.1905 31.2672 28.5027 31.5591C27.8149 31.8509 27.0777 32.0007 26.3333 32H5.66667C4.92231 32.0007 4.18513 31.8509 3.4973 31.5591C2.80947 31.2672 2.1845 30.8392 1.65817 30.2993C1.13183 29.7595 0.714451 29.1185 0.429923 28.413C0.145395 27.7076 -0.000699045 26.9515 2.51477e-06 26.188V5.81197C-0.000699045 5.04853 0.145395 4.29244 0.429923 3.58697C0.714451 2.88151 1.13183 2.24052 1.65817 1.70068C2.1845 1.16085 2.80947 0.73277 3.4973 0.440947C4.18513 0.149123 4.92231 -0.000716969 5.66667 2.57925e-06Z"
              fill="#00be0c"></path>
            <path d="M11.6267 8.36924V22.4C11.6267 22.5504 11.56 22.6188 11.44 22.6188H8.82665C8.70665 22.6188 8.65332 22.5504 8.65332 22.4V8.36924C8.65332 8.24616 8.71999 8.19146 8.83999 8.19146H11.44C11.4602 8.18819 11.4808 8.18918 11.5007 8.19437C11.5205 8.19955 11.5391 8.20882 11.5553 8.22162C11.5715 8.23442 11.585 8.25047 11.595 8.26879C11.605 8.28712 11.6112 8.30734 11.6133 8.32821C11.6184 8.33362 11.6222 8.3401 11.6245 8.34719C11.6268 8.35429 11.6275 8.36181 11.6267 8.36924Z" fill="#FFE4C1"></path>
            <path
              d="M19.3067 22.8376C18.3184 22.8543 17.3389 22.644 16.4401 22.2222C15.6037 21.8211 14.9028 21.1737 14.4267 20.3624C13.9334 19.5282 13.6934 18.4889 13.6934 17.2445C13.6799 16.2324 13.9332 15.2355 14.4267 14.359C14.9327 13.4682 15.6656 12.7354 16.5467 12.2393C17.4801 11.706 18.6001 11.4462 19.9201 11.4462C20.0136 11.4451 20.1071 11.4496 20.2001 11.4598C20.3201 11.4735 20.4534 11.4735 20.6134 11.4872V7.16582C20.6134 7.0701 20.6534 7.01539 20.7467 7.01539H23.4534C23.4833 7.01125 23.5136 7.01879 23.5383 7.03653C23.563 7.05427 23.5803 7.0809 23.5867 7.11112V20.1573C23.5867 20.4034 23.6001 20.6769 23.6134 20.9778C23.6267 21.2786 23.6534 21.5385 23.6667 21.771C23.6696 21.8171 23.6582 21.8631 23.6343 21.9023C23.6104 21.9416 23.5751 21.9721 23.5334 21.9898C22.835 22.2908 22.106 22.511 21.3601 22.6462C20.6825 22.7721 19.9953 22.8362 19.3067 22.8376ZM20.6134 20.1026V14.0855C20.4947 14.0561 20.3745 14.0333 20.2534 14.0171C20.1067 14.0034 19.9601 13.9898 19.8134 13.9898C19.2907 13.9837 18.7742 14.1056 18.3067 14.3453C17.8511 14.5782 17.461 14.9265 17.1734 15.3573C16.8801 15.7949 16.7334 16.3829 16.7334 17.094C16.7218 17.574 16.7987 18.0519 16.9601 18.5026C17.089 18.867 17.2937 19.1983 17.5601 19.4735C17.8171 19.7251 18.1274 19.9123 18.4667 20.0205C18.8239 20.1405 19.1976 20.2005 19.5734 20.1983C19.7734 20.1983 19.9601 20.1846 20.1334 20.1709C20.2963 20.1838 20.46 20.1605 20.6134 20.1026Z"
              fill="#FFE4C1"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path
              d="M5.66667 2.57925e-06H26.3333C27.0777 -0.000716969 27.8149 0.149123 28.5027 0.440947C29.1905 0.73277 29.8155 1.16085 30.3418 1.70068C30.8682 2.24052 31.2856 2.88151 31.5701 3.58697C31.8546 4.29244 32.0007 5.04853 32 5.81197V26.188C32.0007 26.9515 31.8546 27.7076 31.5701 28.413C31.2856 29.1185 30.8682 29.7595 30.3418 30.2993C29.8155 30.8392 29.1905 31.2672 28.5027 31.5591C27.8149 31.8509 27.0777 32.0007 26.3333 32H5.66667C4.92231 32.0007 4.18513 31.8509 3.4973 31.5591C2.80947 31.2672 2.1845 30.8392 1.65817 30.2993C1.13183 29.7595 0.714451 29.1185 0.429923 28.413C0.145395 27.7076 -0.000699045 26.9515 2.51477e-06 26.188V5.81197C-0.000699045 5.04853 0.145395 4.29244 0.429923 3.58697C0.714451 2.88151 1.13183 2.24052 1.65817 1.70068C2.1845 1.16085 2.80947 0.73277 3.4973 0.440947C4.18513 0.149123 4.92231 -0.000716969 5.66667 2.57925e-06Z"
              fill="#00be0c"></path>
            <path
              d="M7.2002 22.4411V8.36926C7.2002 8.27353 7.2402 8.21883 7.33353 8.21883C7.5602 8.21883 7.77353 8.21883 8.0802 8.20516C8.38686 8.19148 8.73353 8.19148 9.09353 8.17781C9.45353 8.16413 9.8402 8.16413 10.2535 8.15045C10.6669 8.13678 11.0669 8.13678 11.4669 8.13678C12.5602 8.13678 13.4669 8.27353 14.2135 8.56071C14.8829 8.79384 15.4932 9.1769 16.0002 9.68208C16.4298 10.1242 16.7618 10.6558 16.9735 11.2411C17.1754 11.811 17.2791 12.4125 17.2802 13.0188C17.2802 14.1949 17.0135 15.1658 16.4802 15.9317C15.9444 16.6964 15.1963 17.2778 14.3335 17.6C13.4269 17.9419 12.4269 18.065 11.3335 18.065C11.0135 18.065 10.8002 18.065 10.6669 18.0513C10.5335 18.0376 10.3469 18.0376 10.0935 18.0376V22.4274C10.0965 22.4499 10.095 22.4728 10.0892 22.4947C10.0834 22.5166 10.0734 22.5371 10.0597 22.5549C10.046 22.5728 10.029 22.5877 10.0096 22.5986C9.99022 22.6096 9.96888 22.6165 9.94686 22.6188H7.3602C7.25353 22.6188 7.2002 22.5641 7.2002 22.4411ZM10.1069 10.8581V15.453C10.2935 15.4667 10.4669 15.4804 10.6269 15.4804H11.3335C11.854 15.481 12.3714 15.398 12.8669 15.2342C13.2919 15.106 13.6717 14.8543 13.9602 14.5094C14.2402 14.1675 14.3735 13.7026 14.3735 13.1009C14.3861 12.6735 14.2797 12.2514 14.0669 11.8838C13.8445 11.5287 13.5176 11.2557 13.1335 11.1043C12.633 10.9032 12.0974 10.8101 11.5602 10.8308C11.2135 10.8308 10.9069 10.8308 10.6535 10.8445C10.4713 10.8323 10.2883 10.8368 10.1069 10.8581Z"
              fill="#FFE4C1"></path>
            <path
              d="M25.6003 14.6189C25.1977 14.4014 24.7666 14.2448 24.3203 14.1539C23.8301 14.04 23.3295 13.9804 22.827 13.9761C22.5571 13.9666 22.2874 13.9989 22.027 14.0718C21.8609 14.1073 21.7136 14.2048 21.6136 14.3454C21.5463 14.4563 21.5094 14.5839 21.507 14.7146C21.5132 14.8447 21.5599 14.9693 21.6403 15.0701C21.7667 15.2222 21.9206 15.3476 22.0936 15.4394C22.4003 15.6035 22.7203 15.7539 23.0403 15.8907C23.7607 16.1394 24.4499 16.4745 25.0936 16.8889C25.5315 17.1713 25.8936 17.5615 26.147 18.024C26.3612 18.4603 26.4666 18.9442 26.4536 19.4325C26.4644 20.0789 26.2831 20.7133 25.9336 21.2513C25.5617 21.7972 25.0428 22.2202 24.4403 22.4684C23.787 22.7556 22.987 22.906 22.027 22.906C21.4183 22.9086 20.8108 22.849 20.2136 22.7283C19.7434 22.6449 19.286 22.4978 18.8536 22.2907C18.8071 22.2667 18.7685 22.2294 18.7424 22.1832C18.7164 22.1371 18.704 22.0841 18.707 22.0308V19.6513C18.7058 19.628 18.71 19.6046 18.7193 19.5833C18.7286 19.5619 18.7426 19.543 18.7603 19.5283C18.7791 19.517 18.8009 19.5123 18.8225 19.5148C18.8441 19.5172 18.8644 19.5268 18.8803 19.5419C19.3939 19.8525 19.9518 20.0786 20.5336 20.212C21.0474 20.3491 21.5761 20.4181 22.107 20.4171C22.6136 20.4171 22.9736 20.3488 23.2136 20.2257C23.3207 20.175 23.4114 20.094 23.4752 19.9923C23.5389 19.8905 23.5731 19.7723 23.5736 19.6513C23.5736 19.4599 23.467 19.2821 23.2536 19.1043C23.0403 18.9265 22.6003 18.7214 21.947 18.4616C21.2767 18.2194 20.6402 17.8884 20.0536 17.477C19.6358 17.1716 19.2897 16.7745 19.0403 16.3146C18.8275 15.8827 18.7222 15.4035 18.7336 14.9197C18.7356 14.3362 18.8923 13.7642 19.187 13.265C19.5257 12.716 20.0118 12.2791 20.587 12.0069C21.2136 11.6787 22.0003 11.5283 22.947 11.5283C23.5002 11.5284 24.0528 11.5696 24.6003 11.6513C24.994 11.706 25.3793 11.8117 25.747 11.9659C25.8055 11.9872 25.8535 12.0314 25.8803 12.0889C25.8957 12.1423 25.9046 12.1974 25.907 12.253V14.4821C25.9072 14.5087 25.9012 14.5349 25.8897 14.5587C25.8781 14.5825 25.8612 14.6031 25.8403 14.6189C25.7627 14.6475 25.6779 14.6475 25.6003 14.6189Z"
              fill="#FFE4C1"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path
              d="M5.66667 2.57925e-06H26.3333C27.0777 -0.000716969 27.8149 0.149123 28.5027 0.440947C29.1905 0.73277 29.8155 1.16085 30.3418 1.70068C30.8682 2.24052 31.2856 2.88151 31.5701 3.58697C31.8546 4.29244 32.0007 5.04853 32 5.81197V26.188C32.0007 26.9515 31.8546 27.7076 31.5701 28.413C31.2856 29.1185 30.8682 29.7595 30.3418 30.2993C29.8155 30.8392 29.1905 31.2672 28.5027 31.5591C27.8149 31.8509 27.0777 32.0007 26.3333 32H5.66667C4.92231 32.0007 4.18513 31.8509 3.4973 31.5591C2.80947 31.2672 2.1845 30.8392 1.65817 30.2993C1.13183 29.7595 0.714451 29.1185 0.429923 28.413C0.145395 27.7076 -0.000699045 26.9515 2.51477e-06 26.188V5.81197C-0.000699045 5.04853 0.145395 4.29244 0.429923 3.58697C0.714451 2.88151 1.13183 2.24052 1.65817 1.70068C2.1845 1.16085 2.80947 0.73277 3.4973 0.440947C4.18513 0.149123 4.92231 -0.000716969 5.66667 2.57925e-06Z"
              fill="#00be0c"></path>
            <path d="M16.8 22.6188H8.34667C8.2 22.6188 8.13334 22.5368 8.13334 22.3727V8.39659C8.13036 8.37409 8.13182 8.35121 8.13763 8.32929C8.14344 8.30738 8.15349 8.28689 8.16716 8.26903C8.18084 8.25118 8.19788 8.23632 8.21726 8.22534C8.23665 8.21437 8.25798 8.2075 8.28 8.20514H10.9467C10.9633 8.20203 10.9805 8.20242 10.997 8.20629C11.0135 8.21016 11.0291 8.21742 11.0428 8.22765C11.0565 8.23788 11.0681 8.25085 11.0768 8.26579C11.0854 8.28072 11.0911 8.29731 11.0933 8.31454V19.8427H17.2533C17.3867 19.8427 17.4267 19.9111 17.4 20.0342L17.0133 22.4137C17.0113 22.4451 17.0031 22.4758 16.9894 22.504C16.9756 22.5321 16.9566 22.5572 16.9333 22.5778C16.8942 22.6056 16.8476 22.6199 16.8 22.6188Z" fill="#FFE4C1"></path>
            <path
              d="M18.9333 11.6787H21.2667C21.3299 11.6802 21.391 11.7022 21.4412 11.7415C21.4915 11.7808 21.5284 11.8354 21.5467 11.8975C21.6018 11.9942 21.638 12.101 21.6533 12.212C21.68 12.3487 21.7067 12.4992 21.72 12.6359C21.7333 12.7727 21.7467 12.9505 21.7467 13.1282C22.147 12.6489 22.6308 12.2501 23.1733 11.9522C23.7825 11.6135 24.4673 11.4438 25.16 11.4599C25.1819 11.4568 25.2043 11.4583 25.2256 11.4643C25.247 11.4702 25.267 11.4805 25.2844 11.4945C25.3018 11.5086 25.3163 11.5261 25.327 11.5459C25.3377 11.5658 25.3444 11.5877 25.3467 11.6103V14.3316C25.3467 14.441 25.28 14.4821 25.1333 14.4821C24.2692 14.429 23.4052 14.5884 22.6133 14.947C22.3433 15.0655 22.0986 15.2375 21.8933 15.453V22.4274C21.8933 22.5641 21.84 22.6188 21.72 22.6188H19.12C19.0954 22.6231 19.0702 22.6222 19.046 22.6161C19.0218 22.6101 18.999 22.5991 18.979 22.5837C18.9591 22.5684 18.9424 22.549 18.9299 22.5268C18.9175 22.5047 18.9096 22.4801 18.9067 22.4547V14.824C18.9067 14.4957 18.9067 14.1539 18.8933 13.7983C18.88 13.4428 18.88 13.0872 18.8667 12.7316C18.8533 12.4308 18.8267 12.1299 18.7867 11.8291C18.7831 11.8129 18.7827 11.7962 18.7855 11.7799C18.7883 11.7636 18.7942 11.748 18.8029 11.734C18.8115 11.72 18.8228 11.7079 18.8361 11.6984C18.8493 11.6889 18.8642 11.6822 18.88 11.6787C18.8933 11.665 18.9067 11.665 18.9333 11.6787Z"
              fill="#FFE4C1"></path>
          </svg>

          <!-- <img src="../../public/svg/ai.svg" alt="" />
          <img src="../../public/svg/id.svg" alt="" />
          <img src="../../public/svg/ps.svg" alt="" />
          <img src="../../public/svg/lr.svg" alt="" /> -->
        </figure>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Frontend kode</p>
        <p>HTML, CSS, Tailwind, JavaScript</p>
        <p>React, Next, Vite, Astro, Supabase</p>
      </div>
      <div class="pb-8">
        <p class="font-bold pt-3 pb-1">Digital design</p>
        <p>Fra sketch til færdigt produkt</p>
        <p>Design Thining</p>
        <p>Konceptudvikling</p>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Projektledelse</p>
        <p>Uddannet projektleder</p>
        <p>Arbejdet som Product Manager</p>
        <p>Arbejdet som Label Manager</p>
      </div>
    </div>
  </div>
</section>

<style>
  .section-one {
    display: grid;
    h2 {
      font-size: 2.8rem;
      color: var(--color-text-first);
    }
    figure {
      display: flex;
      gap: 0.5rem;
      padding-top: 1rem;
      /* padding-bottom: 1.5rem; */

      img {
        width: 2rem;
      }
    }
    .kompetencer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      gap: 2.5rem;
      > * {
        /* padding-right: 5rem; */
      }
    }
  }

  @media (width < 800px) {
    .section-one {
      justify-content: start;

      figure {
        padding-bottom: 0;
      }
      .kompetencer {
        grid-template-columns: 1fr;
        gap: 1.5rem;
      }
    }
  }
</style>
