---

---

<section class="section-one">
  <div>
    <h2 class="text-center pb-6">Kompetencer</h2>
    <div class="kompetencer">
      <div class="pb-6">
        <p class="font-bold pt-3 pb-1">Grafisk arbejde</p>
        <p>Karakterdesign til spil</p>
        <p>Logoer & andet grafik til websites</p>
        <p>Coverart til musikudgivelser</p>
        <p>Lavet vinyl & merchandise</p>
        <figure class="logoer">
          <img src="../../public/svg/ai.svg" alt="" />
          <img src="../../public/svg/id.svg" alt="" />
          <img src="../../public/svg/ps.svg" alt="" />
          <img src="../../public/svg/lr.svg" alt="" />
        </figure>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Frontend kode</p>
        <p>HTML, CSS, Tailwind, JavaScript</p>
        <p>React, Next, Vite, Astro, Supabase</p>
      </div>
      <div class="pb-8">
        <p class="font-bold pt-3 pb-1">Digital design</p>
        <p>Fra sketch til færdigt produkt</p>
        <p>Design Thining</p>
        <p>Konceptudvikling</p>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Projektledelse</p>
        <p>Uddannet projektleder</p>
        <p>Arbejdet som Product Manager</p>
        <p>Arbejdet som Label Manager</p>
      </div>
    </div>
  </div>
</section>

<style>
  .section-one {
    display: grid;
    h2 {
      font-size: 2.8rem;
      color: var(--color-text-first);
    }
    figure {
      display: flex;
      gap: 0.5rem;
      padding-top: 1rem;
      /* padding-bottom: 1.5rem; */

      img {
        width: 2rem;
      }
    }
    .kompetencer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      gap: 2.5rem;
      > * {
        /* padding-right: 5rem; */
      }
    }
  }

  @media (width < 800px) {
    .section-one {
      justify-content: start;

      figure {
        padding-bottom: 0;
      }
      .kompetencer {
        grid-template-columns: 1fr;
        gap: 1.5rem;
      }
    }
  }
</style>
