---

---

<section class="section-one">
  <div class="erfaring">
    <h2>Erfaring</h2>
    <ul class="pt-3">
      <li>Uddannet projektleder, med fokus på kreative brancher</li>
      <li>Arbejdet som projektleder og kreativ i musikbranchen</li>
      <li>Arbejdet indgående med UX i forbindelse med optimering af hjemmesider.</li>
      <li>Prototyping - Figma & Adobe XD</li>
      <li>Tryk opgaver - vinyl & merchandise</li>
    </ul>
  </div>
  <div>
    <h2>Kompetencer</h2>
    <div class="kompetencer">
      <div>
        <p class="font-bold pt-3 pb-1">Grafisk arbejde</p>
        <p>Karakterdesign til spil</p>
        <p>Logoer & andet grafik til websites</p>
        <figure class="logoer">
          <img src="../../public/svg/ai.svg" alt="" />
          <img src="../../public/svg/id.svg" alt="" />
          <img src="../../public/svg/ps.svg" alt="" />
          <img src="../../public/svg/lr.svg" alt="" />
        </figure>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Frontend kode</p>
        <p>HTML, CSS, Tailwind, JavaScript</p>
        <p>React & Astro</p>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Frontend kode</p>
        <p>HTML, CSS, Tailwind, JavaScript</p>
        <p>React, Astro</p>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Digital design</p>
        <p>Fra sketch til færdigt produkt</p>
        <p>Design Thining</p>
        <p>Konceptudvikling</p>
      </div>
      <div>
        <p class="font-bold pt-3 pb-1">Projektledelse</p>
        <p>Uddannet projektleder</p>
        <p>Tidligere Product Manager</p>
      </div>
    </div>
  </div>
</section>

<style>
  .section-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4rem;

    li {
      padding-bottom: 0.5rem;
    }

    figure {
      display: flex;
      gap: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 1.5rem;

      img {
        width: 2rem;
      }
    }
    .kompetencer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
